/* line 5, ../sass/calendar.scss */
#calendar-form #year {
  width: 45px;
}

/* line 10, ../sass/calendar.scss */
table.calendar {
  border-collapse: collapse;
}
/* line 15, ../sass/calendar.scss */
table.calendar th, table.calendar td {
  width: 80px;
  height: 85px;
  border: 1px solid #ccc;
  padding: 5px;
}
/* line 24, ../sass/calendar.scss */
table.calendar thead tr.month-header {
  font-size: 1.3em;
}
/* line 29, ../sass/calendar.scss */
table.calendar thead tr.month-header th span {
  display: block;
  padding: 8px 20px;
}
/* line 33, ../sass/calendar.scss */
table.calendar thead tr.month-header th .english {
  color: darkgreen;
  font-size: 1.1em;
  float: left;
  margin-left: 30px;
}
/* line 39, ../sass/calendar.scss */
table.calendar thead tr.month-header th .hebrew {
  color: darkblue;
  font-size: 0.9em;
  float: right;
  margin-right: 30px;
}
/* line 49, ../sass/calendar.scss */
table.calendar thead tr.days-header td {
  height: 25px;
  color: darkred;
  text-align: center;
}
/* line 63, ../sass/calendar.scss */
table.calendar tbody tr.week-row td {
  vertical-align: top;
}
/* line 66, ../sass/calendar.scss */
table.calendar tbody tr.week-row td.current-day {
  background-color: #c0d0c0;
}
/* line 69, ../sass/calendar.scss */
table.calendar tbody tr.week-row td.holiday {
  background-color: #d0c0d0;
}
/* line 72, ../sass/calendar.scss */
table.calendar tbody tr.week-row td.civil-holiday {
  background-color: #d0c0c0;
}
/* line 76, ../sass/calendar.scss */
table.calendar tbody tr.week-row td table.cell-contents {
  border-collapse: collapse;
}
/* line 79, ../sass/calendar.scss */
table.calendar tbody tr.week-row td table.cell-contents td {
  border: 0;
  height: auto;
  vertical-align: top;
}
/* line 84, ../sass/calendar.scss */
table.calendar tbody tr.week-row td table.cell-contents td.english {
  color: darkgreen;
}
/* line 87, ../sass/calendar.scss */
table.calendar tbody tr.week-row td table.cell-contents td.hebrew {
  color: darkblue;
  text-align: right;
}
/* line 94, ../sass/calendar.scss */
table.calendar tbody tr.week-row td .events {
  font-size: 0.85em;
}
