/* line 5, ../sass/calendar.scss */
#calendar-form #year {
  width: 45px;
}

/* line 10, ../sass/calendar.scss */
table.calendar {
  border-collapse: collapse;
}
/* line 15, ../sass/calendar.scss */
table.calendar th, table.calendar td {
  width: 80px;
  height: 85px;
  border: 1px solid #ccc;
  padding: 5px;
}
/* line 24, ../sass/calendar.scss */
table.calendar thead tr.month-header {
  font-size: 1.3em;
}
/* line 29, ../sass/calendar.scss */
table.calendar thead tr.month-header th span {
  display: block;
  padding: 8px 20px;
}
/* line 33, ../sass/calendar.scss */
table.calendar thead tr.month-header th .english {
  color: #333333;
  font-size: 1.1em;
  float: left;
  margin-left: 30px;
}
/* line 39, ../sass/calendar.scss */
table.calendar thead tr.month-header th .hebrew {
  color: #000033;
  font-size: 0.9em;
  float: right;
  margin-right: 30px;
}
/* line 46, ../sass/calendar.scss */
table.calendar thead tr.month-header th a {
  cursor: pointer;
  text-decoration: none;
  color: #333;
}
/* line 51, ../sass/calendar.scss */
table.calendar thead tr.month-header th #previous-month {
  position: absolute;
  top: 10px;
  left: 10px;
}
/* line 56, ../sass/calendar.scss */
table.calendar thead tr.month-header th #next-month {
  position: absolute;
  top: 10px;
  right: 10px;
}
/* line 65, ../sass/calendar.scss */
table.calendar thead tr.days-header td {
  height: 25px;
  color: darkred;
  text-align: center;
}
/* line 79, ../sass/calendar.scss */
table.calendar tbody tr.week-row td {
  vertical-align: top;
}
/* line 82, ../sass/calendar.scss */
table.calendar tbody tr.week-row td.current-day {
  background-color: #c0d0c0;
}
/* line 85, ../sass/calendar.scss */
table.calendar tbody tr.week-row td.holiday {
  background-color: #d0c0d0;
}
/* line 88, ../sass/calendar.scss */
table.calendar tbody tr.week-row td.civil-holiday {
  background-color: #d0c0c0;
}
/* line 93, ../sass/calendar.scss */
table.calendar tbody tr.week-row td div.cell-contents div.english {
  color: #333333;
  float: left;
}
/* line 97, ../sass/calendar.scss */
table.calendar tbody tr.week-row td div.cell-contents div.hebrew {
  color: #000033;
  float: right;
}
/* line 101, ../sass/calendar.scss */
table.calendar tbody tr.week-row td div.cell-contents div.events {
  font-size: 0.85em;
}
